<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Things are getting interesting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {{.Inverno.Term}}<br>
    {{range .Inverno.Cursos}}
        {{.Numero}} - {{.Nome}} - {{.Unidades}}<br>
    {{end}}
</body>
</html>