{{$TEXTO := "isso está originalmente escrito em letras minúsculas"}}
{{uc $TEXTO}} 

Formatando tempo
{{formatTime .}} //<!--remember! the "." is the value you put on the 3rd argunment of the function Execute template -->